/* 
	My Custom Stylesheet
	
*/

/* First, pull in Bootstrap's stylesheet*/
@import url(../css/bootstrap.css);
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker|Fredericka+the+Great|Source+Code+Pro:300,400|Open+Sans:400,600,300);

/*Now my custom styles*/
body {
padding-bottom: 40px;
}
.sidebar-nav {
padding: 9px 0;
}
p{
	font-family: 'Open Sans', sans-serif;
}

#headP{
	max-width: 50%;
	margin: 20px auto 0;
	font-size: 1.5em;
	line-height: 33px;
}
.imgHover {
	background-color: rgba(218, 218, 218, 0.68);
	height: 180px;
	position: absolute;
	width: 300px;
	z-index: 10;	
	-webkit-box-shadow: 0px 0px 4px #000;
	-moz-box-shadow: 0px 0px 4px  #000;
	box-shadow: 0px 0px 4px  #000;
	opacity: 0; 
	
}

.subheader {
	line-height: 1.3;
	color: #6f6f6f;
	font-weight: 300;
	margin-bottom: 17px;
	}
	
#home{
	background: url(../Images/beachPhoto.jpg) 50% 0 repeat fixed; 
	min-height: 1000px;
	background-size: 100%;
	height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
  	position: relative;
}

#home article {
  	height: 458px;
  	position: absolute;
  	top: 30px;
  	width: 100%;
}

#about{
	background: url(../Images/grid.png) 50% 0 repeat fixed; 
	min-height: 1000px;
	background-color: #F8F7F7;
	background-repeat: repeat;
	height: 1000px;
	margin: 0 auto;
	width: 100%;
	max-width: 1920px;
  	position: relative;
  	font-family: Century Gothic, sans-serif;

}

#about article {
	height: 458px;
	position: absolute;
	top: 2em;
	width: 100%;
	margin-left: 3em;
	font-size: 14px;
}

#logo{
	height: 140px;
	text-align: left;
	margin-left: 1em;		
}

#title{
	text-align: center; 
	font-family: 'wisdom_script_airegular';
}

#traits{
	font-size: 20px;
	text-align: center;
	list-style-type: none;
	line-height: 26px;
	color: #EC7939;
	margin-top: 40px;
	font-family: Verdana, sans-serif;
}

#traits li{
	display: inline;
}

#traits li a:hover{
	color:#49deff;
}

.icon{
	font-family: ;
}

#pAbout{
	color: #7A7A7A;
	font-family: Century Gothic, sans-serif;
}

#head{
	text-align: center;
	background-color: #BD7723;
	padding-bottom: 3%;
	//width: 100%;
}

#head:after{
	content: "";
	opacity: .8;
}

#content{
    float: left;
    width: 100%;
    background-color: #f2f2e8;
    display: block;
    padding-top: 100px;
    z-index: 5;
    margin-left: 9px;
}

#cSub{
    max-width: 960px;
}

#navHead{
    width: 100%;
    display: block;
    position: relative;
    z-index: 2;
}

.fixie{
	position: fixed !important;
	top: 0;
}
.weare{
	font-family: 'Source Code Pro', sans-serif;
	color: rgb(37, 37, 37);
	font-size: .7em;
	font-weight: 400;
	position: relative;
	margin-left: -60px;
}
#logo{
	cursor: pointer;
	color: #b1b1b1;
	height: auto;
}
.textItem{
	position:absolute;
	display:none;
	margin-left: 10px;
}
#txtRotate{
	color: green;
}
.divider{
	width:60%;
	height:100px;
	border-bottom:2px dotted rgba(145, 145, 145, 0.13);
	margin: 0 auto;
}

.green{
	color: green;
}

.blue{
	color: rgb(86, 86, 255);
}

.navbar .nav > li > a.blue{
	color: rgb(86, 86, 255);
}	
#dEmail{
	margin: 0;
	position: relative;
	padding-left: 10%;
}
#dEmail input{
	font-size: 13px;
	font-weight: bold;
	border: 0;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 0 10px;
	height: 35px;
	border: 1px solid black;
	background-color: rgba(255, 255, 255, 0.77);
}
#dEmail input:hover, #dEmail input:focus, textarea:hover, textarea:focus{
	background-color: rgb(255, 255, 255);
}
#hPot{
	display: none;
}

input[type="submit"] {
	margin: 0;
	width: 85px;
	color: #5d7731;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	background: #b6d76f;
	background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#9dc954));
	background: -moz-linear-gradient(top, #cae285, #9dc954);
	-webkit-box-shadow: inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
}
#dEmail input[type="reset"] {
	width: 85px;
	color: white;
	background: #ec5e41;
	background: -webkit-gradient(linear, left top, left bottom, from(#F08484), to(#F1503A));
	background: -moz-linear-gradient(top, #F08484, #F1503A);
	-webkit-box-shadow: inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
	box-shadow: inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
}
textarea{
	border: 1px solid black;
	border-radius: 3px;
	padding: 0 10px;
	background-color: rgba(255, 255, 255, 0.77);
	font-size: 13px;
	height: 70px;
}


/*--- Media Queries ---*/
@media (max-width: 767px) {
  .adjustMargin {
    margin-right: -20px;
    margin-left: -20px;
    padding-right: 20px;
    padding-left: 20px;
  }